<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-card-title color="light">HOME</ion-card-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>
 
  
  <ion-card>
    <ion-label>
      <div class="ion-text-center">
      <h1>Selamat Datang di Aplikasi Kesehatan Kami!</h1>
      </div>
      </ion-label>
  </ion-card>
  
  
  <ion-card>
    <div class="ion-text-center">
    <img alt="Silhouette of mountains" src="assets/images/sehatt.jpeg" class="thumbnail" />
    <ion-card-header>
      <ion-card-title>SAMBUTAN</ion-card-title>
      <ion-card-subtitle>Lebih Baik Mencegah  Dari Pada Mengobati</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Selamat datang di Aplikasi Kesehatan yang didedikasikan untuk</p> 
       <p> memberikan Anda akses mudah dan cepat ke informasi kesehatan yang andal.</p> 
        <p>Kami berkomitmen untuk mendukung perjalanan kesehatan Anda</p> 
        <p>dengan menyediakan layanan terbaik dan informasi yang bermanfaat.</p>
    </ion-card-content>
  </div>
  </ion-card>


<ion-card color="success">
  <ion-card-header>
    <ion-card-title>Tips Mengatasi Rasa Sakit </ion-card-title>
    <ion-card-subtitle>Struk Ringan</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Menurut ahli di <i>National Institutes of Health</i>, pengidap stroke ringan akan didorong untuk melakukan perubahan gaya hidup. 
              Tujuannya jelas, untuk mengurangi risiko berkembangnya gejala TIA. Perubahan gaya hidup ini mencakup berhenti merokok,
              rutin berolahraga, dan megonsumsi makanan sehat atau bergizi seimbang. 2. Konsumsi Obat-obatan
   </ion-card-content>
</ion-card>

<ion-card color="warning">
  <ion-card-header>
    <ion-card-title> Tips Mengatasi Rasa Sakit </ion-card-title>
    <ion-card-subtitle>Asam Lambung</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Beberapa penelitian mengungkapkan bahwasanya minyak peppermint dapat mengurangi gejala yang timbul saat asam lambung naik seperti gejala nyeri ulu hati dan heartburn.
     Akan tetapi, hindari menggunakan bahan alami yang satu ini jika di saat yang bersamaan Anda juga sedang mengonsumsi antasida </ion-card-content>
</ion-card>

<ion-card color="danger">
  <ion-card-header>
    <ion-card-title>Tips Mengatasi Rasa Sakit </ion-card-title>
    <ion-card-subtitle>Sakit Kepala</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Suatu penelitian menyebutkan bahwa vitamin E dapat membantu meredakan sakit kelapa dan gejala migrain lainnya pada wanita yang sedang mengalami menstruasi.
     Berbeda dengan obat sakit kepala pada umumnya, seperti NSAID, vitamin E memiliki risiko efek samping yang lebih rendah dengan kemungkinan kekambuhan yang lebih kecil.  </ion-card-content>
  </ion-card>

<ion-card color="light">
  <ion-card-header>
    <ion-card-title>Cara Mengatasi Masalah Mental Health dengan Efektif </ion-card-title>
    <ion-card-subtitle>Berikut Caranya</ion-card-subtitle>
    </ion-card-header>

  <ion-card-content> 1. Terapi Psikologis
                  <p>2. Meditasi</p>
                  <p>3. Olahraga</p>
                  <p>4. Mengatur Pola Makan</p>
                  <p>5. Menghindari Kebiasaan Buruk</p>
                  <p>6. Memperkuat Dukungan Sosial</p>
                  <p>7. Menjaga Kesehatan Fisik </p>
                  <p>8. Tidur yang Cukup</p>
                  <p>9. Mengembangkan Keterampilan Koping</p>
                  <p>10.Mengurangi Stres </p>
  </ion-card-content>
</ion-card>

<ion-card color="medium">
  <ion-card-header>
    <ion-card-title>Cara Mengatasi Gangguan Sistem Peredaran Darah </ion-card-title>
    <ion-card-subtitle>Lakukanlah 5 Cara Dibawah Ini</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> 1. Konsumsi makanan yang memperlancar peredaran darah
                  <p>2. Hindari kebiasaan merokok</p>
                  <p>3. Jaga berat badan ideal</p>
                  <p>4. Olahraga rutin</p>
                  <p>5. Kelola stres</p>
   </ion-card-content>
</ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Berbagai Macam Penyakit </ion-card-title>
      <ion-card-subtitle>Penyakit yang paling banyak dialami saat ini</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/images/paru-paru.jpeg" />
          </ion-thumbnail>
          <ion-label>Paru-Paru</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/images/asamUrat.jpeg" />
          </ion-thumbnail>
          <ion-label>Asam Urat </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/images/katarak.jpeg" />
          </ion-thumbnail>
          <ion-label>Mata Cataract</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/images/ginjal.jpeg" />
          </ion-thumbnail>
          <ion-label>Penyakit Ginjal </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

<ion-card>
    <ion-label>
      <div class="ion-text-center">
      <h1>Marilah Hidup Sehat</h1>
      </div>
      </ion-label>
  </ion-card>
  

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-img src="assets/images/image1.jpg" class="thumbnail"></ion-img>
        </ion-col>
        <ion-col size="4">
          <ion-img src="assets/images/image2.jpg" class="thumbnail"></ion-img>
        </ion-col>
        <ion-col size="4">
          <ion-img src="assets/images/image3.jpg" class="thumbnail"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-img src="assets/images/image4.jpg" class="thumbnail"></ion-img>
        </ion-col>
      <ion-col size="3">
        <ion-img src="assets/images/image5.jpg" class="thumbnail"></ion-img>
      </ion-col>
      <ion-col size="3">
        <ion-img src="assets/images/image6.jpg" class="thumbnail"></ion-img>
      </ion-col>
      <ion-col size="3">
        <ion-img src="assets/images/image7.jpg" class="thumbnail"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>

  
</ion-content>
