<ion-header>
  <ion-toolbar color="primary">
  <ion-title><ion-card-title color="light">Silahkan Isi Form Pendaftaran!</ion-card-title></ion-title>
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
 </ion-header>
 <ion-content padding color="primary">
  <ion-card class="welcome-card bg-content my-custom-card">
  <ion-card-header>
  <ion-card-title color="primary">Pendafaran Kesehatan</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <p>Silakan isikan form dibawah untuk pendataan Surat Kesehatan!.</p>
  <ion-list>
  <ion-item>
  <ion-label position="floating"> Id </ion-label>
  <ion-input type="text" [(ngModel)]="id"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating"> Nama Lengkap </ion-label>
  <ion-input type="text" [(ngModel)]="nama_lengkap"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating"> Tanggal Lahir </ion-label>
  <ion-input type="text" [(ngModel)]="tanggal_lahir"></ion-input>     
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Jenis Kelamin </ion-label>
    <ion-select [(ngModel)]="jenis_kelamin" placeholder="Pilih jenis_kelamin">
    <ion-select-option value="P">P</ion-select-option>
    <ion-select-option value="L">L</ion-select-option>
    </ion-select>
  </ion-item>
 <ion-item>
    <ion-label position="floating"> Alamat </ion-label>
    <ion-input type="text" [(ngModel)]="alamat"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating"> Nomor HP/WA </ion-label>
  <ion-input type="text" [(ngModel)]="no_telp"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating"> Email </ion-label>
  <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Riwayat Penyakit </ion-label>
    <ion-input type="text" [(ngModel)]="riwayat_penyakit"></ion-input>
  </ion-item>
   
   </ion-list>
   <div padding>
   <ion-button expand="block" color="primary" size="medium"
  (click)="addRegister()"><ion-icon name="trending-up-outline"></ion-icon>
  Daftar</ion-button>
   
   </div>
   </ion-card-content> 
   </ion-card>
</ion-content>