<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-card-title color="light">ABOUT</ion-card-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   
  </ion-header>

  <ion-card>
    <div class="ion-text-center">
    <img alt="Silhouette of mountains" src="assets/images/yanti.jpg" width="250" height="300" class="thumbnail" />
    <ion-card-header>
      <ion-card-title>MERHABAA!!</ion-card-title>
      <ion-card-subtitle>Yanti Peronika</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>hi, my name is yanti, I was born on May 23, 2003, precisely in medan, indonesia.</p> 
       <p> I am 20 years old and now I am still finishing my college, and the major I took is computers,
      </p> 
        <p>i really like this, yes although it is not easy, but i will still try to keep learning</p> 
        <p>and this is my first apk, yes although not very good, but this is already better.</p>
        <p>Oke, Thnkyou</p>
    </ion-card-content>
  </div>
  </ion-card>

  <ion-item color="primary">
    <ion-label>
      <div class="ion-text-center">
      <h1>Tentang aplikasi</h1>
      </div>
      </ion-label>
  </ion-item>
  
  <div class="ion-text-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tujuan Aplikasi</ion-card-title>
      <ion-card-subtitle>12 Oktober 2023</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Aplikasi ini bertujuan untuk memberikan dukungan yang komprehensif bagi kesehatan Anda,</p> 
       <p> membantu Anda menjaga gaya hidup sehat,</p> 
        <p>dan memberikan informasi yang relevan tentang kondisi kesehatan.</p>
    </ion-card-content>
  </ion-card>
  </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Fitur Kesehatan</ion-card-title>
        <ion-card-subtitle>Pemantauan aktivitas fisik harian :</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
         <b> Pengingat jadwal obat dan konsultasi medis :</b>
          <p>Informasi gizi dan saran diet.</p>
          <p>Pemantauan tidur dan manajemen stres.</p>
          <p>Informasi Medis Terpercaya:</p>
          <p>Akses cepat ke informasi medis terkini dan terpercaya untuk membantu Anda membuat keputusan yang 
          informasional tentang kesehatan Anda.</p>
      </ion-card-content>

      <ion-card-content>
        <b>Pemantauan Kondisi Kesehatan :</b>
        <p>Melacak parameter kesehatan seperti denyut jantung, tekanan darah, </p>
        <p>dan tingkat glukosa (jika berlaku), untuk memberikan pandangan holistik tentang kesehatan pengguna.</p>
      </ion-card-content>

      <ion-card-content>
       <b> Komunitas Dukungan :</b>
        <p>Bergabunglah dengan komunitas pengguna kami untuk berbagi pengalaman, mendapatkan dukungan,</p> 
        <p>dan memotivasi satu sama lain dalam perjalanan hidup sehat.</p>  
      </ion-card-content>

    <ion-card-content>
      <b>Konsultasi Jarak Jauh :</b>
      <p>Kemungkinan konsultasi dengan profesional kesehatan melalui platform ini (jika berlaku)</p>
      <p>memberikan akses mudah ke perawatan dan saran medis.</p>
    </ion-card-content>
    </ion-card>
    
<ion-card>
  <ion-card-header>
    <ion-card-title>Sosmed</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="logo-instagram" slot="start"></ion-icon>
        yantiprnka_
      </ion-item>
      <ion-item>
        <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        +62 83156643981
      </ion-item>
      <ion-item>
        <ion-icon name="logo-twitter" slot="start"></ion-icon>
        Yantiprnka
      </ion-item>
      <ion-item>
        <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Yantiprnka
      </ion-item>
    </ion-list>
  </ion-card-content>
  </ion-card>
  
</ion-content>